* {
    font-family: 'Montserrat';
    font-weight: 500;
}
* {
    font-family: 'Montserrat';
    font-weight: 500;
}

.meter {
    display: flex;
    height: 25px;  /* Can be anything */
    position: relative;
    background: rgba(255, 0, 0, 0.281);
    padding: 0px;
    overflow: hidden;
    /*box-shadow: 
      	/*[horizontal offset] [vertical offset] [blur radius] [spread radius] [color];*/
      	/*0 5px 0 -2px rgba(255, 255, 255, 0.8)  /*Top border*/
         /*1px 0 0 rgba(255, 255, 255, 0.8), Right border */
        /*0 0 0 2px rgba(255, 255, 255, 0.8),  Bottom border */
        /*-1px 0 0 rgba(255, 255, 255, 0.8);  Left border */
      	/*0 0 10px 5px rgba(255, 255, 255, 0.8), /* Top glow */
        /*0 0 0px 0px rgba(255, 255, 255, 0.8), /* Right glow */
        /*0 0 0px 0px rgba(255, 255, 255, 0.8), /* Bottom glow */
        /*0 0 0px 0px rgba(255, 255, 255, 0.8); /* Left glow */
}

.meter > span {
    display: flex;
    height: 100%;
    /*background-color: {{barColor1}};  Set to your desired solid color */

    box-shadow:
    	inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
}

.meter > div {
  position: absolute;
  background-color: white; /* Adjust color as needed */
}

.top,
.bottom {
  width: 100%;
  height: 20px; /* Adjust thickness as needed */
}

.left,
.right {
  width: 20px; /* Adjust thickness as needed */
  height: calc(100% - 40px); /* Adjust height as needed */
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/*
.meter > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
        -45deg,
        {{barColor2}} 25%,
        transparent 25%,
        transparent 50%,
        {{barColor2}} 50%,
        {{barColor2}} 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    overflow: hidden;
}
*/

.legend{
    display: flex;
    width: 100%;
    font-size:24px;
    text-align:center;
    font-weight:bold;
}
.title{
    width: 100%;
    font-size:24px;
    color:rgba(255, 255, 255, 1);
    text-align:center;
    font-weight:bold;
    text-shadow: 1px 1px 1px #000000;
}
#count{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}
#divider{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}
#goal{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}

.legend{
    display: flex;
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.title{
    width: 100%;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    text-align:center;
    font-weight:bold;
    text-shadow: 1px 1px 1px #000000;
}
#count{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}
#divider{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}
#goal{
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000000;
}